@import "src/styles/mixins";
.action-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .switch {
    margin-top: -10px;
 	@include adaptive-value-small-desktop(margin-top, -10);
  }
}

@media (min-width: 1024px) {
  .notifications-container {
    h3 {
      font-size: 17px;
      line-height: 21px;
      letter-spacing: -0.41px;
      margin-bottom: 23px;
    }

    .action-block {
      p:first-child {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.41px;
        margin-bottom: 5px;
      }

      p:last-child {
        font-size: 9px;
        line-height: 11px;
        letter-spacing: -0.337647px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .notifications-container {
    h3 {
      font-size: 26px;
 	@include adaptive-value-small-desktop(font-size, 26);
      line-height: 30px;
 	@include adaptive-value-small-desktop(line-height, 30);
      letter-spacing: -0.627059px;
 	@include adaptive-value-small-desktop(letter-spacing, -0.627059);
      margin-bottom: 35px;
 	@include adaptive-value-small-desktop(margin-bottom, 35);
    }

    .action-block {
      p:first-child {
        font-size: 17px;
        margin-bottom: 7px;
        line-height: 20px;
        letter-spacing: -0.41px;
      }

      p:last-child {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.337647px;
      }
    }
  }
}