.form-withdrawal {
  margin-top: 15px;

  .payment-method {
    margin-bottom: 5px;

    & > p {
      margin-bottom: 10px;
    }
  }

  .balance-info {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;

    & > p:last-child {
      font-size: 19px;
      line-height: 22px;
      letter-spacing: -0.458235px;
      color: #24C054;
    }
  }

  .sum {
    margin-bottom: 15px;
  }
}


.sum-input {
  margin-bottom: 15px;
}

.all-sum {
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.success-btn {
  width: 100%;
  margin-top: 15px;
}

@media (min-width: 1920px) {
  .methods-btn_group {
    > p {
      margin-bottom: 23px;
    }
  }
  .methods-list {
    > p {
      margin-bottom: 23px;
    }
  }
  .form-withdrawal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .fields-group {
      width: 100%;

      .sum {
        margin-bottom: 20px;
      }

      .balance-info {
        margin-top: 22px;
      }
    }

    button:last-child {
      padding: 16px 74px;
      width: fit-content;
      margin-top: 20px;
    }
  }
}