@import "src/styles/mixins";

.form {
  * > input {
    margin-bottom: 10px;
    @include adaptive-value-tablet(margin-bottom, 10);

    &:last-child {
      margin-bottom: 15px;
      @include adaptive-value-tablet(margin-bottom, 15);
    }
  }
}

.row {
  display: flex;
  width: 100%;

  > * {
    flex: 1 1 50%;
  }
  > *:first-child {
    margin-right: 9px;
    @include adaptive-value-tablet(margin-right, 9);
  }
}

.btn-icon {
  position: absolute;
  &:first-child {
    width: 13px;
    @include adaptive-value-tablet(width, 13);
    height: 21px;
    @include adaptive-value-tablet(height, 21);
    top: 14px;
    //top: calc(50% - 10.5px);
    @include adaptive-value-tablet(top, 14);
    left: 10%;
  }
  &:last-child {
    width: 25px;
    @include adaptive-value-tablet(width, 25);
    height: 25px;
    @include adaptive-value-tablet(height, 25);
    top: 10.5px;
    @include adaptive-value-tablet(top, 10.5);
    left: 9%;
  }
}