@import "src/styles/mixins";

.paper-wrapper {
  border-radius: 14px;
  @include adaptive-value-small-desktop(border-radius, 14);
  background-color: #fff;
  padding: 20px;
  @include adaptive-value-small-desktop(padding-top, 20);

  @include adaptive-value-small-desktop(padding-left, 20);

  @include adaptive-value-small-desktop(padding-right, 20);

  @include adaptive-value-small-desktop(padding-bottom, 20);
}

@media (min-width: 1024px) {
  .paper-wrapper {
    padding: 40px 30px;
    @include adaptive-value-small-desktop(padding-top, 40);

    @include adaptive-value-small-desktop(padding-left, 30);

    @include adaptive-value-small-desktop(padding-right, 30);

    @include adaptive-value-small-desktop(padding-bottom, 40);
  }
}

@media (min-width: 1440px) {
  .paper-wrapper {
    padding: 55px 60px;
    @include adaptive-value-large-desktop(padding-top, 55);

    @include adaptive-value-large-desktop(padding-left, 60);

    @include adaptive-value-large-desktop(padding-right, 60);

    @include adaptive-value-large-desktop(padding-bottom, 55);
    border-radius: 30px;
    @include adaptive-value-large-desktop(border-radius, 30);
  }
}