.paper-wrapper {
  border-radius: 14px;
  background-color: #fff;
  padding: 20px;
}

@media (min-width: 1024px) {
  .paper-wrapper {
    padding: 40px 30px;
  }
}

@media (min-width: 1920px) {
  .paper-wrapper {
    padding: 55px 60px;
    border-radius: 30px;
  }
}