@import "src/styles/mixins";

.notification-method-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 23px;

  > img {
    margin-bottom: 30px;
  }

  > h3 {
    margin-bottom: 10px;
  }

  > button {
    margin-top: 12px;
  }
}

@media (min-width: 1440px) {
  .notification-method-popup {
    padding: 0;

    > img {
      width: 135px;
      @include adaptive-value-large-desktop(width, 135);
      height: 135px;
      @include adaptive-value-large-desktop(height, 135);
    }

    > h3 {
      font-size: 26px;
      @include adaptive-value-large-desktop(font-size, 26);
      line-height: 30px;
      @include adaptive-value-large-desktop(line-height, 30);
      letter-spacing: -0.627059px;
      @include adaptive-value-large-desktop(letter-spacing, -0.627059);
      margin-bottom: 15px;
      @include adaptive-value-large-desktop(margin-bottom, 15);
    }

    > p {
      font-size: 17px;
      @include adaptive-value-large-desktop(font-size, 17);
      line-height: 20px;
      @include adaptive-value-large-desktop(line-height, 20);
      letter-spacing: -0.41px;
      @include adaptive-value-large-desktop(letter-spacing, -0.41);
      color: #8F8F8F;
      text-align: center;
      margin-bottom: 15px;
      @include adaptive-value-large-desktop(margin-bottom, 15);
    }

    > button {
      padding: 12px 40px;
      @include adaptive-value-large-desktop(padding-top, 12);
      @include adaptive-value-large-desktop(padding-bottom, 12);
      @include adaptive-value-large-desktop(padding-left, 40);
      @include adaptive-value-large-desktop(padding-right, 40);
    }
  }
}