@import "src/styles/mixins";

.saved_method {
  @extend %saved_method;

  &-active {
    @extend %saved_method;
    border: 2px solid #2A44F2 !important;
  }
}

%saved_method {
  display: flex;
  padding: 17px 15px;
  @include adaptive-value-tablet(padding-top, 17);
  @include adaptive-value-tablet(padding-bottom, 17);
  @include adaptive-value-tablet(padding-left, 15);
  @include adaptive-value-tablet(padding-right, 15);
  @include adaptive-value-large-desktop(padding-top, 17);
  @include adaptive-value-large-desktop(padding-bottom, 17);
  @include adaptive-value-large-desktop(padding-left, 15);
  @include adaptive-value-large-desktop(padding-right, 15);
  border: 1px solid #E5E5EA;
  border-radius: 14px;
  @include adaptive-value-tablet(border-radius, 14);
  @include adaptive-value-large-desktop(border-radius, 14);
  justify-content: space-between;
  margin-bottom: 10px;
  @include adaptive-value-tablet(margin-bottom, 10);
  @include adaptive-value-large-desktop(margin-bottom, 10);
  cursor: pointer;

  & > div:first-child {
    display: flex;
    align-content: center;

    & > .checkbox {
      margin-right: 17px;
      @include adaptive-value-tablet(margin-right, 17);
      @include adaptive-value-large-desktop(margin-right, 17);
    }
  }
}


@media (min-width: 1440px) {
  .method-container {
    display: flex;
    align-items: center;

    .saved_method {
      width: 100%;

      & > div:first-child > p {
        font-size: 15px;
        @include adaptive-value-large-desktop(font-size, 15);
        line-height: 18px;
        @include adaptive-value-large-desktop(line-height, 18);
        letter-spacing: -0.361765px;
        @include adaptive-value-large-desktop(letter-spacing, -0.361765);
      }

      & > div:last-child {
        font-size: 17px;
        @include adaptive-value-large-desktop(font-size, 15);
        line-height: 20px;
        @include adaptive-value-large-desktop(line-height, 20);
        letter-spacing: -0.41px;
        @include adaptive-value-large-desktop(letter-spacing, -0.41);
      }

      &-active {
        width: 100%;

        & > div:first-child > p {
          font-size: 15px;
          @include adaptive-value-large-desktop(font-size, 15);
          line-height: 18px;
          @include adaptive-value-large-desktop(line-height, 18);
          letter-spacing: -0.361765px;
          @include adaptive-value-large-desktop(letter-spacing, -0.361765);
        }

        & > div:last-child {
          font-size: 17px;
          @include adaptive-value-large-desktop(font-size, 15);
          line-height: 20px;
          @include adaptive-value-large-desktop(line-height, 20);
          letter-spacing: -0.41px;
          @include adaptive-value-large-desktop(letter-spacing, -0.41);
        }
      }


      .delete-method {
        background: transparent;
        margin-left: 20px;
        @include adaptive-value-large-desktop(margin-left, 20);
        height: fit-content;
        width: fit-content;
      }
    }
  }
}