@import "src/styles/mixins";
.saved_method {
  @extend %saved_method;

  &-active {
    @extend %saved_method;
    border: 2px solid #2A44F2 !important;
  }
}

%saved_method {
  display: flex;
  padding: 17px 15px;
 	@include adaptive-value-small-desktop(padding-top, 17);
           
 	@include adaptive-value-small-desktop(padding-left, 15);
           
 	@include adaptive-value-small-desktop(padding-right, 15);
           
 	@include adaptive-value-small-desktop(padding-bottom, 17); 
  border: 1px solid #E5E5EA;
  border-radius: 14px;
 	@include adaptive-value-small-desktop(border-radius, 14); 
  justify-content: space-between;
  margin-bottom: 10px;
 	@include adaptive-value-small-desktop(margin-bottom, 10); 
  cursor: pointer;

  & > div:first-child {
    display: flex;
    align-content: center;

    & > div {
      margin-right: 17px;
 	@include adaptive-value-small-desktop(margin-right, 17); 
    }
  }
}


@media (min-width: 1440px) {
  .method-container {
    display: flex;
    align-items: center;

    .saved_method {
      width: 100%;

      &-active {
        width: 100%;
      }
    }

    .delete-method {
      background: transparent;
      margin-left: 20px;
 	@include adaptive-value-small-desktop(margin-left, 20); 
      height: fit-content;
      width: fit-content;
    }
  }
}