@import "src/styles/mixins";
.wallet {
  grid-area: 1 / 1 / auto / 3;
  position: relative;

  & .pay-off-button {
    width: 100%;
    border-radius: 11px;
    @include adaptive-value-tablet(border-radius, 11);
    padding: 14px;
    @include adaptive-value-tablet(padding-top, 14);

    @include adaptive-value-tablet(padding-left, 14);

    @include adaptive-value-tablet(padding-right, 14);

    @include adaptive-value-tablet(padding-bottom, 14);
  }

  & .history {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    outline: none;
    border: none;
  }
}

@media (min-width: 1024px) {
  .wallet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .wallet {
    .pay-off-button {
      padding: 24px 0;
      font-size: 26px;
      line-height: 30px;
    }
  }
}