@import "src/styles/mixins";

.wrapper {
  width: 470px;
  @include adaptive-value-large-desktop(width, 470);
  padding: 60px;
  @include adaptive-value-large-desktop(padding-top, 60);

  @include adaptive-value-large-desktop(padding-left, 60);

  @include adaptive-value-large-desktop(padding-right, 60);

  @include adaptive-value-large-desktop(padding-bottom, 60);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    margin-bottom: 61px;
    @include adaptive-value-large-desktop(margin-bottom, 61);
    width: 142px;
    @include adaptive-value-large-desktop(width, 142);
    height: 36px;
    @include adaptive-value-large-desktop(height, 36);
  }

  .account {
    margin-bottom: 45px;
    @include adaptive-value-large-desktop(margin-bottom, 45);

    > div {
      > div:first-child {
        width: 120px;
        @include adaptive-value-large-desktop(width, 120);
        height: 120px;
        @include adaptive-value-large-desktop(height, 120);
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    @include adaptive-value-large-desktop(padding-top, 50);

    @include adaptive-value-large-desktop(padding-bottom, 50);
    align-items: baseline;

    a {
      display: flex;
      align-items: center;

      svg {
        &:first-child {
          width: 23px;
          @include adaptive-value-large-desktop(width, 23);
          height: 26px;
          @include adaptive-value-large-desktop(height, 26);
        }
      }
    }

    > a:first-child, > span {
      margin-bottom: 50px;
      @include adaptive-value-large-desktop(margin-bottom, 50);
    }

    .link-title {
      margin-left: 30px;
      @include adaptive-value-large-desktop(margin-left, 30);
      font: {
        size: 28px;
        weight: bold;
      };
      @include adaptive-value-large-desktop(font-size, 28);
      line-height: 33px;
      @include adaptive-value-large-desktop(line-height, 33);
      letter-spacing: -0.675294px;
      @include adaptive-value-large-desktop(letter-spacing, -0.675294);
    }
  }

  .networks {
    width: fit-content;
    margin: 55px auto auto;
    @include adaptive-value-large-desktop(margin-top, 55);

    > button {
      &:first-child img {
        width: 48px;
        @include adaptive-value-large-desktop(width, 48);
        height: 28px;
        @include adaptive-value-large-desktop(height, 28);
      }

      &:nth-child(2) img {
        width: 33px;
        @include adaptive-value-large-desktop(width, 33);
        height: 28px;
        @include adaptive-value-large-desktop(height, 28);
      }

      &:last-child img {
        width: 33px;
        @include adaptive-value-large-desktop(width, 33);
        height: 28px;
        @include adaptive-value-large-desktop(height, 28);
      }

      &:not(:last-child) {
        margin-right: 25px;
        @include adaptive-value-large-desktop(margin-right, 25);
      }
    }
  }

  .copyright {
    font-weight: normal;
    font-size: 15px;
    @include adaptive-value-large-desktop(font-size, 15);
    line-height: 18px;
    @include adaptive-value-large-desktop(line-height, 18);
    color: #A6A6A6;
  }
}