.row {
  display: flex;
  width: 100%;
  align-items: center;
}

.column {
  width: 100%;
  .title {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;
    color: #1D1D1D;
  }

  .desc {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.313529px;
    color: #1D1D1D;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}