@import "src/styles/mixins";

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    max-width: 45%;
    align-items: center;
  }

  .column {
    max-width: 100%;
    margin-right: 10px;
    @include adaptive-value-tablet(margin-right, 10);
    margin-left: 15px;
    @include adaptive-value-tablet(margin-left, 15);

    .title-group {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      max-width: 100%;
      @include adaptive-value-tablet(margin-bottom, 4);

      .active-icon {
        background: linear-gradient(225deg, #2545F3 0%, #6E35F1 100%);
        width: 26px;
        @include adaptive-value-tablet(width, 26);
        @include adaptive-value-large-desktop(width, 26);
        min-width: 26px;
        @include adaptive-value-tablet(min-width, 26);
        @include adaptive-value-large-desktop(min-width, 26);
        height: 26px;
        @include adaptive-value-tablet(height, 26);
        @include adaptive-value-large-desktop(height, 26);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        @include adaptive-value-tablet(margin-left, 10);
        @include adaptive-value-large-desktop(margin-left, 10);

        > img {
          width: 15px;
          @include adaptive-value-tablet(width, 15);
          @include adaptive-value-large-desktop(width, 15);
        }
      }

      .title {
        font-weight: bold;
        font-size: 19px;
        @include adaptive-value-tablet(font-size, 19);
        @include adaptive-value-large-desktop(font-size, 23);
        line-height: 23px;
        @include adaptive-value-tablet(line-height, 23);
        @include adaptive-value-large-desktop(line-height, 27);
        max-height: 23px;
        @include adaptive-value-tablet(max-height, 23);
        @include adaptive-value-large-desktop(max-height, 27);
        letter-spacing: -0.554706px;
        @include adaptive-value-tablet(letter-spacing, -0.554706);
        @include adaptive-value-large-desktop(letter-spacing, -0.554706);
      }
    }

    .subtitle {
      color: #8E8E93;
      font-size: 13px;
      @include adaptive-value-tablet(font-size, 13);
      @include adaptive-value-large-desktop(font-size, 13);
      line-height: 16px;
      @include adaptive-value-tablet(line-height, 16);
      @include adaptive-value-large-desktop(line-height, 16);
      letter-spacing: -0.313520px;
      @include adaptive-value-tablet(letter-spacing, -0.313520);
      @include adaptive-value-large-desktop(letter-spacing, -0.313520);
    }

    .title, .subtitle {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }

  .right {
    width: 28%;
  }

  .link {
    overflow: hidden;
    max-width: 100%;
    text-align: right;
    font-size: 16px;
    @include adaptive-value-tablet(font-size, 16);
    @include adaptive-value-large-desktop(font-size, 16);
    line-height: 19px;
    @include adaptive-value-tablet(line-height, 19);
    @include adaptive-value-large-desktop(line-height, 19);
    max-height: 19px;
    @include adaptive-value-tablet(max-height, 19);
    @include adaptive-value-large-desktop(max-height, 19);
    letter-spacing: -0.385882px;
    @include adaptive-value-tablet(letter-spacing, -0.385882);
    @include adaptive-value-large-desktop(letter-spacing, -0.385882);
    color: #2B44F2;
    @include adaptive-value-tablet(max-width, 134);
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .row.large {
    .column {
      margin-right: 10px;
      @include adaptive-value-large-desktop(margin-right, 10);
      margin-left: 15px;
      @include adaptive-value-large-desktop(margin-left, 15);

      .title-group {
        margin-bottom: 8px;
        @include adaptive-value-large-desktop(margin-bottom, 8);

        .title {
          font: {
            size: 32px;
            weight: bold;
          };
          @include adaptive-value-large-desktop(font-size, 32);
          max-height: 37px;
          @include adaptive-value-large-desktop(max-height, 37);
          line-height: 37px;
          @include adaptive-value-large-desktop(line-height, 37);
          letter-spacing: -0.771765px;
          @include adaptive-value-large-desktop(letter-spacing, -0.771765);
        }
      }

      .subtitle {
        font-size: 21px;
        @include adaptive-value-large-desktop(font-size, 21);
        line-height: 25px;
        @include adaptive-value-large-desktop(line-height, 25);
        letter-spacing: -0.506471px;
        @include adaptive-value-large-desktop(letter-spacing, -0.506471);
      }
    }
  }
}