@import "src/styles/mixins";

.row {
  display: flex;
  align-items: center;

  .column {
    margin-right: 10px;
    margin-left: 15px;
    max-width: 120px;
    @media (min-width: 390px) {
      max-width: 155px;
    }
    @media (min-width: 430px) {
      max-width: 180px;
    }
    @media (min-width: 600px) {
      max-width: 280px;
    }

    .title-group {
      display: flex;

      .active-icon {
        background: linear-gradient(225deg, #2545F3 0%, #6E35F1 100%);
        width: 26px;
        height: 26px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;

        > img {
          width: 15px;
        }
      }

      .title {
        font-size: 23px;
        line-height: 27px;
        letter-spacing: -0.554706px;
        margin-bottom: 4px;
      }
    }
    .subtitle {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.313520px;
    }
    .title, .subtitle {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (min-width: 1440px) {
  .row {
    .column {
      margin-right: 10px;
      @include adaptive-value-large-desktop(margin-right, 10);
      margin-left: 15px;
      @include adaptive-value-large-desktop(margin-left, 15);
      .title-group {
        .title {
          font: {
            size: 32px;
            weight: bold;
          };
          @include adaptive-value-large-desktop(font-size, 32);
          margin-bottom: 8px;
          @include adaptive-value-large-desktop(margin-bottom, 8);
        }
      }

      .subtitle {
        font-size: 21px;
        @include adaptive-value-large-desktop(font-size, 21);
        line-height: 25px;
        @include adaptive-value-large-desktop(line-height, 25);
        letter-spacing: -0.506471px;
        @include adaptive-value-large-desktop(letter-spacing, -0.506471);
      }
    }
  }
}