@mixin adaptive-value($property, $min, $max, $min-container, $max-container) {
  $add-value: $max - $min;
  #{$property}: calc(#{$min + px} + #{$add-value} * ((100vw - #{$min-container + px}) / #{$max-container - $min-container}));
}

$min-tablet-container: 600;
$max-tablet-container: 1024;
@mixin adaptive-value-tablet($property, $min) {
  $max: $max-tablet-container / ($min-tablet-container / $min);
  $add-value: $max - $min;
  @media (min-width: #{$min-tablet-container + px}) and (max-width: #{$max-tablet-container - 1 + px}) {
    #{$property}: calc(#{$min + px} + #{$add-value} * ((100vw - #{$min-tablet-container + px}) / #{$max-tablet-container - $min-tablet-container}));
  }
}
$min-small-desktop-container: 1024;
$max-small-desktop-container: 1440;
@mixin adaptive-value-small-desktop($property, $min) {
  $max: $max-small-desktop-container / ($min-small-desktop-container / $min);
  $add-value: $max - $min;
  @media (min-width: #{$min-small-desktop-container + px}) and (max-width: #{$max-small-desktop-container - 1 + px}){
    //#{$property}: calc(#{$min + px} + #{$add-value} * ((100vw - #{$min-small-desktop-container + px}) / #{$max-small-desktop-container - $min-small-desktop-container}));
  }
}
$min-large-desktop-container: 1440;
$design-large-desktop-container: 1920;
@mixin adaptive-value-large-desktop($property, $design-value) {
  $min: $min-large-desktop-container / ($design-large-desktop-container / $design-value);
  $add-value: $design-value - $min;
  @media (min-width: #{$min-large-desktop-container + px}) {
    #{$property}: calc(#{$min + px} + #{$add-value} * ((100vw - #{$min-large-desktop-container + px}) / #{$design-large-desktop-container - $min-large-desktop-container}));
  }
}