.ref {
  grid-area: 4 / 1 / auto / 3;

  & .copy-block {
    display: grid;
    grid-template-columns: 1fr 52px;
    grid-gap: 10px;
    padding-bottom: 15px;

    & .field,
    & .copy-button {
      height: 36px;
    }

    & .field {
      background: #F0F0F0;
      border-radius: 30px;
      padding: 10px 15px;
      color: #1D1D1D;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.361765px;
      overflow: hidden;

      > p {
        overflow: hidden;
      }
    }

    & .copy-button {
      padding: 10px 15px;
      border-radius: 11px;
    }
  }

  & .stats-block {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    > * {
      text-align: left;
    }
  }
}

@media (min-width: 1024px) {
  .ref {
    display: flex;

    > div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
    }

    .copy-block {
      grid-template-columns: 1fr;
      padding-right: 30px;
      padding-bottom: 0;

      & .field {
        height: 24px;
        padding: 3px 15px;
        margin-bottom: 10px;
      }

      .copy-button {
        width: 127px;
      }
    }

    & .stats-block {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      padding-top: 0;
      height: 100%;

      > div p:last-child {
        font-size: 23px;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 1920px) {
  .ref {
    display: flex;

    .copy-block {
      & .field {
        height: 42px;
        display: flex;
        align-items: center;

        > p:last-child {
          font-size: 17px;
        }
      }

      .copy-button {
        width: 190px;
        padding: 16px 0;
        height: unset;
      }
    }

    & .stats-block {
      > div p:last-child {
        font-size: 34px;
      }
    }
  }
}