@import "src/styles/mixins";

.list-item {
  min-width: 21px;
  @include adaptive-value-tablet(min-width, 21);
  height: 21px;
  @include adaptive-value-tablet(height, 21);
  font-size: 14px;
  @include adaptive-value-tablet(font-size, 14);
  background: #D8D8D8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}