@import "src/styles/mixins";

.wrapper_rounded {
  border-bottom-left-radius: 11px;
  @include adaptive-value-tablet(border-bottom-left-radius, 11);
  border-bottom-right-radius: 11px;
  @include adaptive-value-tablet(border-bottom-right-radius, 11);
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  @include adaptive-value-tablet(height, 72);
  background-color: #fff;
  padding: 20px;
  @include adaptive-value-tablet(padding, 20);
  z-index: 10;

  & > * {
    //padding-bottom: 20px;
    //@include adaptive-value-tablet(padding-bottom, 20);

    &:last-child {
      padding-bottom: 0;
    }
  }

  & .default-content-wrapper {
    box-sizing: content-box;
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    @include adaptive-value-tablet(height, 32);

    & .left-element,
    & .right-element {
      position: absolute;
      max-width: 32px;
      @include adaptive-value-tablet(max-width, 32);
      max-height: 32px;
      @include adaptive-value-tablet(max-height, 32);
    }

    & .left-element {
      // padding offset
      left: 0px;
      img {
        height: 24px;
        @include adaptive-value-tablet(height, 24);
      }
    }

    & .right-element {
      // padding offset
      right: 0px;
    }

    & .title {
      font-size: 17px;
      @include adaptive-value-tablet(font-size, 17);
      font-weight: 500;
      line-height: 20px;
      @include adaptive-value-tablet(line-height, 20);
      text-align: center;
      color: #000000;
      margin: auto;
      // 64px - summary of max widths of right and left elements
      max-width: calc(100% - 64px);
    }
  }
  .separator {
    position: fixed;
    top: 72px;
    @include adaptive-value-tablet(top, 72);
    left: 0;
    right: 0;
    height: 1px;
    width: 100vw;
    background: #E5E5EA;
  }
}
