.input {
  background: rgba(240, 240, 240, 0.0001);
  border-radius: 30px;
  width: 100%;
  border: 1px solid #E5E5EA;
  font-size: 15px;
  line-height: 18px;
  padding: 12px 16px;
  letter-spacing: -0.361765px;
  color: #1D1D1D;
  &-error {
    border: 1px solid #FF3B30;
  }
  &-visited {
    border: 1px solid #4E3BF1;
  }
}
.error {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.313529px;
  color: #FF3B30;
  text-align: center;
  width: 100%;
  margin-top: 8px;
}