@import "src/styles/mixins";

.network-button {
  display: block;
  border: 1.5px solid #E5E5EA;
  border-radius: 30px;
  @include adaptive-value-tablet(border-radius, 30);
  background: #FFFFFF;
  width: 100%;
  height: 48px;
  @include adaptive-value-tablet(height, 48);
  font-size: 15px;
  @include adaptive-value-tablet(font-size, 15);
  line-height: 18px;
  @include adaptive-value-tablet(line-height, 18);
  padding: 15px;
  @include adaptive-value-tablet(padding, 15);
  text-align: center;
  letter-spacing: -0.361765px;
  @include adaptive-value-tablet(letter-spacing, -0.361765);
  color: #1D1D1D;
  position: relative;
  margin-bottom: 10px;
  @include adaptive-value-tablet(margin-bottom, 10);

  &_light {
    height: fit-content;
    width: fit-content;
    padding: 0;
    border: none;

    .icon-container {
      position: unset;
    }
  }
}

.icon-container {
  position: absolute;
  left: 15px;
  @include adaptive-value-tablet(left, 15);
  display: flex;
  align-items: center;
  top: 0;
  height: 100%;
}

.icon {
  display: block;
}

@media (min-width: 1024px) {
  .network-button {
    border: 1.5px solid #E5E5EA;
    border-radius: 30px;
    @include adaptive-value-large-desktop(border-radius, 30);
    height: 38px;
    font-size: 12px;
    line-height: 12px;
    @include adaptive-value-large-desktop(line-height, 12);
    padding: 11px;
    @include adaptive-value-large-desktop(padding, 11);
    letter-spacing: -0.361765px;
    @include adaptive-value-large-desktop(letter-spacing, -0.361765);

    &_light {
      height: fit-content;
      width: fit-content;
      padding: 0;
      border: none;
    }
  }
  .icon-container {
    left: 15px;
    @include adaptive-value-large-desktop(left, 15);
  }
}

@media (min-width: 1440px) {
  .network-button {
    padding: 15px;
    @include adaptive-value-large-desktop(padding, 15);
    height: 35px;
    @include adaptive-value-large-desktop(height, 48);
    font-size: 15px;
    @include adaptive-value-large-desktop(font-size, 15);
    margin-bottom: 15px;
    @include adaptive-value-large-desktop(margin-bottom, 15);
  }
}