@import "src/styles/mixins";

.network-button {
  border: 1.5px solid #E5E5EA;
  //@include adaptive-value-tablet(border-width, 1.5);
  border-radius: 30px;
  @include adaptive-value-tablet(border-radius, 30);
  background: #FFFFFF;
  width: 100%;
  height: 48px;
  @include adaptive-value-tablet(height, 48);
  font-size: 15px;
  @include adaptive-value-tablet(font-size, 15);
  line-height: 18px;
  @include adaptive-value-tablet(line-height, 18);
  padding: 15px;
  @include adaptive-value-tablet(padding, 15);
  text-align: center;
  letter-spacing: -0.361765px;
  @include adaptive-value-tablet(letter-spacing, -0.361765);
  color: #1D1D1D;
  position: relative;

}
.icon-container {
  position: absolute;
  left: 15px;
  @include adaptive-value-tablet(left, 15);
  display: flex;
  align-items: center;
  top: 0;
  height: 100%;
}
.icon {
  display: block;
}