.tabs-wrapper {
  background: #EFEFF4;
  border-radius: 30px;
  padding: 3px;

  & .tabs-inner-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    --index: -1;
    --count: 1;

    &:before {
      content: '';
      position: absolute;
      left: calc(var(--index) * calc(100% / var(--count)));
      height: 100%;
      width: calc(100% / var(--count));
      background: #000000;
      transition: .3s ease-in-out;
      border-radius: 30px;
    }
  }
}

.tab {
  position: relative;
  background: none;
  border-radius: 30px;
  margin-right: 3px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.361765px;
  color: #000000;
  width: 100%;
  padding: 7px 0;
  overflow: hidden;
  z-index: 0;
  transition-delay: .15s;
  transition: .3s ease-in-out;

  &:last-child {
    margin-right: 0;
  }
}

.tab_selected {
  color: #FFFFFF;
  transition: .3s ease-in-out;
}

@media (min-width: 1024px) {
  .tabs-wrapper {
    background: #fff;

    & .tabs-inner-wrapper {
      height: 31px;
    }
  }
  .tab {
    font-size: 12px;
    line-height: 11px;
    letter-spacing: -0.361765px;
    height: 100%;
  }
}

@media (min-width: 1440px) {
  .tabs-wrapper {
    & .tabs-inner-wrapper {
      height: 48px;
    }
  }
  .tab {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.41px;
  }
}