@import "src/styles/mixins";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}
