.stats {
  grid-area: 3 / 1 / auto / 3;

  & .data {
    display: flex;
    justify-content: space-between;

    & .block {
      position: relative;
      padding: 0 6px;
      text-align: left;
    }
  }
}

@media (min-width: 1024px) {
  .stats .data {
    height: 115px;

    & .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}