@import "src/styles/mixins";
.stats {
  grid-area: 3 / 1 / auto / 3;

  & .data {
    display: flex;
    justify-content: space-between;

    & .block {
      position: relative;
      padding: 0 6px;
      @include adaptive-value-tablet(padding-left, 6);
      @include adaptive-value-tablet(padding-right, 6);
      @include adaptive-value-small-desktop(padding-left, 6);
      @include adaptive-value-small-desktop(padding-right, 6);
      @include adaptive-value-large-desktop(padding-left, 6);
      @include adaptive-value-large-desktop(padding-right, 6);
      text-align: left;
    }
  }
}

@media (min-width: 1024px) {
  .stats .data {
    height: 115px;
    margin-top: 15px;
    @include adaptive-value-tablet(margin-top, 15);
    @include adaptive-value-small-desktop(margin-top, 45);
    @include adaptive-value-tablet(height, 115);
    @include adaptive-value-small-desktop(height, 115);

    & .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (min-width: 1440px) {
  .block:not(:first-child) {
    margin-left: 12px;
    @include adaptive-value-tablet(margin-left, 12);
    @include adaptive-value-small-desktop(margin-left, 12);
    @include adaptive-value-large-desktop(margin-left, 12);
  }
}