@import "./src/styles/mixins";

.button {
  position: relative;
  border-radius: 42px;
  @include adaptive-value-tablet(border-radius, 42);
  color: #fff;
  outline: none;
  border: none;
}

.button_size-s {
  padding: 11px 36px;
  @include adaptive-value-tablet(padding-top, 11);
  @include adaptive-value-tablet(padding-bottom, 11);
  @include adaptive-value-tablet(padding-left, 36);
  @include adaptive-value-tablet(padding-right, 36);
  font-size: 14px;
  @include adaptive-value-tablet(font-size, 14);
  line-height: 16px;
  @include adaptive-value-tablet(line-height, 16);
}

.button_size-ssm {
  padding: 12px 15px;
  @include adaptive-value-tablet(padding-top, 12);
  @include adaptive-value-tablet(padding-bottom, 12);
  @include adaptive-value-tablet(padding-left, 15);
  @include adaptive-value-tablet(padding-right, 15);
  font-size: 15px;
  @include adaptive-value-tablet(font-size, 15);
  line-height: 18px;
  @include adaptive-value-tablet(line-height, 18);
}

.button_size-sm {
  padding: 15px 36px;
  @include adaptive-value-tablet(padding-top, 15);
  @include adaptive-value-tablet(padding-bottom, 15);
  @include adaptive-value-tablet(padding-left, 36);
  @include adaptive-value-tablet(padding-right, 36);
  font-size: 15px;
  @include adaptive-value-tablet(font-size, 15);
  line-height: 18px;
  @include adaptive-value-tablet(line-height, 18);
}

.button_size-m {
  padding: 17px 36px;
  @include adaptive-value-tablet(padding-top, 17);
  @include adaptive-value-tablet(padding-bottom, 17);
  @include adaptive-value-tablet(padding-left, 36);
  @include adaptive-value-tablet(padding-right, 36);
  font-size: 15px;
  @include adaptive-value-tablet(font-size, 15);
  line-height: 18px;
  @include adaptive-value-tablet(line-height, 18);
}

.button_custom {
  background: none;
  padding: 0;
}

.button_gradient {
  background: linear-gradient(225deg, #2246F3 0%, #7832F0 100%);
}

.button_payment-method {
  background: rgba(240, 240, 240, 0.0001);
  border: 1px solid #E5E5EA;
  //@include adaptive-value-tablet(border-width, 1);
  border-radius: 18px;
  @include adaptive-value-tablet(border-radius, 18);
  padding: 9px 14px;
  @include adaptive-value-tablet(padding-top, 9);
  @include adaptive-value-tablet(padding-bottom, 9);
  @include adaptive-value-tablet(padding-left, 14);
  @include adaptive-value-tablet(padding-right, 14);
  color: #1D1D1D;
  letter-spacing: -0.361765px;
  @include adaptive-value-tablet(letter-spacing, -0.361765);
  font-size: 15px;
  @include adaptive-value-tablet(font-size, 15);
  margin-right: 10px;
  @include adaptive-value-tablet(margin-right, 10);
  margin-bottom: 10px;
  @include adaptive-value-tablet(margin-bottom, 10);
}

.button_success {
  padding: 12px 40px;
  @include adaptive-value-tablet(padding-top, 12);
  @include adaptive-value-tablet(padding-bottom, 12);
  @include adaptive-value-tablet(padding-left, 40);
  @include adaptive-value-tablet(padding-right, 40);
  background: #000000;
  border-radius: 21px;
  @include adaptive-value-tablet(border-radius, 21);
}

.button_light {
  padding: 0;
  background: none;
  font-size: 14px;
  line-height: 17px;
  color: #1D1D1D;
  opacity: .4;
}

.button_border-gradient {
  z-index: 0;
  color: #000;
  background: linear-gradient(225deg, #2246F3 0%, #7832F0 100%);

  --gradient-border-radius: 0px;

  &:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #fff;
    border-radius: var(--gradient-border-radius);
  }
}

.button_black {
  background: #000000;
  color: #fff;
}

.button_white {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #E5E5EA;
  @include adaptive-value-tablet(border-width, 1);
}

@media (min-width: 1024px) {

  .button {
    border-radius: 42px;
  }

  .button_size-s {
    padding: 11px 36px;
    font-size: 14px;
    line-height: 16px;
  }

  .button_size-ssm {
    padding: 12px 15px;
    font-size: 15px;
    line-height: 18px;
  }

  .button_size-sm {
    padding: 15px 36px;
    font-size: 15px;
    line-height: 18px;
  }

  .button_size-m {
    padding: 17px 36px;
    font-size: 15px;
    line-height: 18px;
  }

  .button_payment-method {
    border-radius: 18px;
    padding: 6px 10px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.361765px;
    margin-right: 7px;
    margin-bottom: 7px;
  }
  .button_success {
    padding: 12px 40px;
    border-radius: 21px;
  }
  .button_success_gray {
    padding: 12px 40px;
    border-radius: 21px;
    background: #E5E5E9;
    color: #838383;
  }
  .button_light {
    padding: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .button_white {
    border: 1px solid #E5E5EA;
  }
  .button_size-s-task {
    padding: 10px 30px;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: -0.41px;
    border-radius: 11px;
  }
}

@media (min-width: 1440px) {
  .button_size-m {
    padding: 24px 0;
  }
  .button_payment-method {
    padding: 9px 14px;
    @include adaptive-value-large-desktop(padding-top, 9);
    @include adaptive-value-large-desktop(padding-bottom, 9);
    @include adaptive-value-large-desktop(padding-left, 14);
    @include adaptive-value-large-desktop(padding-right, 14);
    font-size: 15px;
    @include adaptive-value-large-desktop(font-size, 15);
    line-height: 18px;
    @include adaptive-value-large-desktop(line-height, 18);
    letter-spacing: -0.361765px;
    @include adaptive-value-large-desktop(letter-spacing, -0.361765);
    margin-right: 10px;
    @include adaptive-value-large-desktop(margin-right, 10);
    margin-bottom: 10px;
    @include adaptive-value-large-desktop(margin-bottom, 10);
  }

  .button_size-sm {
    padding: 15px 36px;
    @include adaptive-value-large-desktop(padding-top, 15);
    @include adaptive-value-large-desktop(padding-bottom, 15);
    @include adaptive-value-large-desktop(padding-left, 36);
    @include adaptive-value-large-desktop(padding-right, 36);
    font-size: 15px;
    @include adaptive-value-large-desktop(font-size, 15);
    line-height: 18px;
    @include adaptive-value-large-desktop(line-height, 18);
  }

  .button_size-sm {
    padding: 15px 36px;
    @include adaptive-value-large-desktop(padding-top, 15);
    @include adaptive-value-large-desktop(padding-bottom, 15);
    @include adaptive-value-large-desktop(padding-left, 36);
    @include adaptive-value-large-desktop(padding-right, 36);
    font-size: 15px;
    @include adaptive-value-large-desktop(font-size, 15);
    line-height: 18px;
    @include adaptive-value-large-desktop(line-height, 18);
  }
}