@import 'src/styles/mixins';

.btn-row {
  display: flex;
  height: 42px;
  @include adaptive-value-tablet(height, 42);

  > *:first-child {
    flex: 1 1 66.6%;
    margin-right: 10px;
    @include adaptive-value-tablet(margin-right, 10);
  }

  > *:last-child {
    flex: 1 1 33.3%;
  }
}

.form {
  > div:first-child {
    margin-bottom: 10px;
    @include adaptive-value-tablet(margin-bottom, 10);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .avatar {
    display: block;
  }

  .link {
    font-size: 16px;
    @include adaptive-value-tablet(font-size, 16);
    line-height: 19px;
    @include adaptive-value-tablet(line-height, 19);
    letter-spacing: -0.385882px;
    @include adaptive-value-tablet(letter-spacing, -0.385882);
    color: #2B44F2;
    max-width: 124px;
    @include adaptive-value-tablet(max-width, 124);
  }
}

.column {
  display: flex;
  flex-direction: column;

  * {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  margin-right: 10px;
  @include adaptive-value-tablet(margin-right, 10);
  margin-left: 15px;
  @include adaptive-value-tablet(margin-left, 15);


  @media (min-width: 370px) {
    margin-left: 15px;
  }
  @media (min-width: 450px) {
    * {
      max-width: 180px;
    }
  }
  @media (min-width: 550px) {
    * {
      max-width: 260px;
    }
  }
  * {
    @include adaptive-value-tablet(max-width, 260);
  }

  .title {
    font-size: 19px;
    @include adaptive-value-tablet(font-size, 19);
    line-height: 22px;
    @include adaptive-value-tablet(line-height, 22);
    letter-spacing: -0.458235px;
    @include adaptive-value-tablet(letter-spacing, -0.458235);
    color: #000000;
    margin-bottom: 2px;
    @include adaptive-value-tablet(margin-bottom, 2);
    font-weight: 600;
  }

  .subtitle {
    font-size: 13px;
    @include adaptive-value-tablet(font-size, 13);
    line-height: 15px;
    @include adaptive-value-tablet(line-height, 15);
    letter-spacing: -0.313529px;
    @include adaptive-value-tablet(letter-spacing, -0.313529);
    color: #8E8E93;
  }
}

@media (min-width: 1024px) {
  .btn-row {
    height: 42px;
      @include adaptive-value-large-desktop(height, 42);
    > *:first-child {
      margin-right: 10px;
        @include adaptive-value-large-desktop(margin-right, 10);
    }
  }
  .form {
    > div:first-child {
      margin-bottom: 10px;
        @include adaptive-value-large-desktop(margin-bottom, 10);
    }
  }

  .row {
    .link {
      font-size: 16px;
        @include adaptive-value-large-desktop(font-size, 16);
      line-height: 19px;
        @include adaptive-value-large-desktop(line-height, 19);
      letter-spacing: -0.385882px;
        @include adaptive-value-large-desktop(letter-spacing, -0.385882);
      max-width: 124px;
        @include adaptive-value-large-desktop(max-width, 124);
    }
  }
}