.task-card_disabled {
  opacity: 0.6;

  & .task-card-actions {
    > a {
      pointer-events: none;
    }
  }
}

.task-wrapper {
  .actions-block {
    text-align: center;
  }
}

.task-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .header-block {
    & .title-block {
      > * {
        display: inline-block;
      }

      & .title {
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.41px;
        color: #000000;
        padding: 5px 0;
        vertical-align: middle;
        margin-right: 10px;
      }

      & > button {
        background: none;
        vertical-align: middle;
      }
    }

    & .date {
      float: right;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: -0.313529px;
      color: #8E8E93;
    }
  }

  & .description {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.361765px;
    color: #8E8E93;
    padding: 10px 20px 10px 0;
  }

  & .payment-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;

    & .label {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.361765px;
      color: #000000;
    }

    & .value {
      font-weight: 500;
      background: rgba(0, 186, 50, 0.183403);
      border-radius: 17px;
      color: #00BA32;
      padding: 6px 15px;
    }
  }

  .task-card-actions {
    display: flex;
    padding: 12px 0;

    button {
      width: 100%;
    }

    > * {
      width: 100%;

      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    > a > button {
      width: 100%;
    }
  }

  & .cancel {
    padding-top: 5px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;
    color: #FF3B30;
    background: none;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .task-wrapper {
    display: flex;

    .info-parts {
      padding-right: 69px;

      .description {
        padding: 0;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: -0.361765px;
        color: #000000;
        font-weight: 500;
      }

      .description-title {
        font-size: 11px;
        line-height: 11px;
        letter-spacing: -0.361765px;
        color: #8E8E93;
        margin-bottom: 12px;
      }

      .title-block {
        .title {
          padding: 0;
          font-size: 21px;
          line-height: 21px;
          letter-spacing: -0.41px;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
    }

    .actions-block {
      padding-left: 20px;

      .cancel {
        font-size: 11px;
        line-height: 11px;
        letter-spacing: -0.41px;
        background: #FF3B30;
        border-radius: 11px;
        color: #FFFFFF;
        padding: 10px 0;
        width: 100%;
      }

      .payment-block {
        flex-direction: column;
        align-items: end;
        padding-left: 15px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 30px;

        .title {
          font-size: 11px;
          line-height: 11px;
          letter-spacing: -0.361765px;
          margin-bottom: 10px;
        }

        .value {
          font-size: 25px;
          line-height: 25px;
          letter-spacing: -0.675294px;
          color: #00D439;
          padding: 0;
          background: none;
        }
      }

      .task-card-actions {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 7px;

        button {
          font-size: 11px;
        }

        .top-btn-group {
          display: flex;
          justify-content: space-between;
          margin-bottom: 7px;

          .task-status-btn {
            width: 54px;
            border-radius: 11px;
          }
        }
      }
    }
  }

  .task_wrapper-completed {
    flex-direction: column;

    .info-parts {
      padding: 0;
      margin-bottom: 20px;

      .date {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.41px;
        color: #8E8E93;
      }
    }

    .actions-block {
      padding-left: 0;

      .payment-block {
        padding-left: 0;
        flex-direction: row;
        align-items: center;

        .value {
          font-size: 26px;
        }
      }
    }
  }

  .tooltip-container {
    display: block;
    z-index: 1;
    position: relative;
    max-width: 240px;

    .popper-title {
      font-size: 14px;
      line-height: 17px;
      color: #252525;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .task-list {
      > li {
        font-size: 11px;
        line-height: 17px;
        color: #252525;
      }
    }
  }

  .tooltip-arrow {
    pointer-events: none;
    border: 12px solid transparent;
    border-bottom: 25px solid #fff;
    width: 20px;
    top: -30px;
  }
}

@media (min-width: 1920px) {
  .task-wrapper {
    display: flex;

    .info-parts {
      padding-right: 80px;

      .description {
        font-size: 19px;
        line-height: 27px;
        letter-spacing: -0.458235px;
      }

      .description-title {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.41px;
        margin-bottom: 10px;
      }

      .title-block {
        .title {
          font-size: 32px;
          line-height: 37px;
          letter-spacing: -0.771765px;
        }
      }
    }

    .actions-block {
      padding-left: 20px;
      text-align: unset;

      .cancel {
        background: #FF3B30;
        border-radius: 14px;
        font-size: 17px;
        text-align: center;
        letter-spacing: -0.41px;
        color: #FFFFFF;
        padding: 15px 0;
        width: 100%;
        line-height: 18px;
      }

      .payment-block {
        flex-direction: column;
        align-items: end;
        padding-left: 30px;

        .title {
          font-size: 17px;
          line-height: 20px;
          letter-spacing: -0.41px;
          margin-bottom: 10px;
        }

        .value {
          font-size: 38px;
          line-height: 45px;
          letter-spacing: -0.916471px;
        }
      }

      .task-card-actions {
        display: flex;
        flex-direction: column;


        button {
          font-size: 17px;
          width: 100%;
        }

        .top-btn-group {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;

          .task-status-btn {
            width: 82px;
            border-radius: 14px;
          }
        }
      }
    }
  }

  .task_wrapper-completed {
    flex-direction: column;

    .info-parts {
      padding: 0;
      margin-bottom: 20px;

      .date {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: -0.41px;
        color: #8E8E93;
      }
    }

    .actions-block {
      padding-left: 0;

      .payment-block {
        padding-left: 0;
        flex-direction: row;
        align-items: center;

        .value {
          font-size: 26px;
        }
      }
    }
  }

  .tooltip-container {
    display: block;
    z-index: 1;
    position: relative;
    max-width: 240px;

    .popper-title {
      font-size: 14px;
      line-height: 17px;
      color: #252525;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .task-list {
      > li {
        font-size: 11px;
        line-height: 17px;
        color: #252525;
      }
    }
  }

  .tooltip-arrow {
    pointer-events: none;
    border: 12px solid transparent;
    border-bottom: 25px solid #fff;
    width: 20px;
    top: -30px;
  }
}
