.wrapper {
  width: 81px;
  padding: 35px 12px 30px;
  @extend %verticalCenter;

  .logo {
    width: 21px;
    margin-bottom: 20px;
  }

  .sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .account {
    @extend %verticalCenter;

    .avatar {
      width: 100%;
    }

    margin-bottom: 35px;
  }

  .nav {
    @extend %verticalCenter;
    padding: 35px 0;

    > a:first-child, span {
      margin-bottom: 55px;
    }
  }

  .networks {
    @extend %verticalCenter;
    padding-top: 35px;

    > button:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

%verticalCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-height: 665px) {
  .wrapper {
    padding-top: 35px;
    .account {
      margin-bottom: 35px;
    }

    .nav {
      padding: 35px 0;

      > a:first-child, span {
        margin-bottom: 50px;
      }
    }

    .networks {
      padding-top: 25px;

      > button:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
}