.notification {
  position: relative;

  > span {
    position: absolute;
    top: -13px;
    right: -12px;
    width: 26px;
    background: #FF3B30;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    border: 2px solid;
  }
}