.wrap-content {
  width: 95%;
  padding: 40px 20px 30px 20px;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 25px;
  right: 25px;
}

@media (min-width: 1024px) {
  .wrap-content {
    width: 700px;
    margin: 0 auto;

    > h3 {
      text-align: center;
    }
  }
}

@media (min-width: 1920px) {
  .wrap-content {
    margin: 0 auto;
    padding: 55px 60px;
  }

  .wrap-content_s {
    width: 460px;

    > h3 {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.627059px;
      margin-bottom: 30px;
    }
  }

  .wrap-content_m {
    width: 1065px;
  }

  .wrap-content_sm {
    width: 510px;
    padding: 55px 50px;

    > h3 {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.627059px;
      margin-bottom: 30px;
    }
  }
}
