@import "src/styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  height: 100%;
  @media (min-height: 665px) {
    padding-top: 66px;
    @include adaptive-value-small-desktop(padding-top, 66);
    justify-content: flex-start;
  }

  > div:first-child > div {
    &:not(:last-child) {
      margin: 0 20px 20px 0;
      @include adaptive-value-small-desktop(margin-right, 20);

      @include adaptive-value-small-desktop(margin-bottom, 20);

      @include adaptive-value-large-desktop(margin-right, 350);

      @include adaptive-value-large-desktop(margin-bottom, 350);
    }

    &:last-child {
      margin: 0 0 20px 0;
      @include adaptive-value-small-desktop(margin-bottom, 20);

      @include adaptive-value-large-desktop(margin-bottom, 20);
    }
  }

  > div:last-child > div {
    margin: 0;

    &:first-child {
      margin-right: 20px;
      @include adaptive-value-small-desktop(margin-right, 20);

      @include adaptive-value-large-desktop(margin-right, 20);
    }
  }

  .top-papers {
    display: flex;

    > div:first-child, > div:last-child {
      flex-grow: 2;
    }

    .middle-group {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      > div:first-child {
        margin-bottom: 20px;
        @include adaptive-value-small-desktop(margin-bottom, 20);
        @include adaptive-value-large-desktop(margin-bottom, 20);
      }

      > div {
        flex-grow: 1;
      }
    }

    .history-window {
      height: 160px;
      @include adaptive-value-small-desktop(height, 160);
      @include adaptive-value-large-desktop(height, 160);
      overflow-y: scroll;

      > div > p:last-child {
        font-size: 11px;
        @include adaptive-value-small-desktop(font-size, 11);
        margin-left: -5px;
        @include adaptive-value-small-desktop(margin-left, -5);
        @include adaptive-value-large-desktop(margin-left, -5);
        margin-right: 5px;
        @include adaptive-value-small-desktop(margin-right, 5);
        @include adaptive-value-large-desktop(margin-right, 5);
      }

      &::-webkit-scrollbar {
        width: 5px;
        @include adaptive-value-small-desktop(width, 5);
        @include adaptive-value-large-desktop(width, 5);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        @include adaptive-value-small-desktop(border-radius, 3);
        @include adaptive-value-large-desktop(border-radius, 3);
        background: #8E8E93;
      }
    }
  }

  .bottom-papers {
    display: flex;
    height: 220px;

    > div {
      width: 50%;
    }
  }
}

@media (min-width: 1440px) {
  .wrapper {
    @media (min-height: 865px) {
      padding-top: 80px;
      @include adaptive-value-small-desktop(padding-top, 80);
    }
    > div > div:not(:nth-child(2)) {
      padding: 62px 60px;
      @include adaptive-value-large-desktop(padding-top, 62);

      @include adaptive-value-large-desktop(padding-left, 60);

      @include adaptive-value-large-desktop(padding-right, 60);

      @include adaptive-value-large-desktop(padding-bottom, 62);
    }

    > div:first-child > div {
      &:not(:last-child) {
        margin: 0 24px 24px 0;
        @include adaptive-value-large-desktop(margin-right, 24);

        @include adaptive-value-large-desktop(margin-bottom, 24);
      }

      &:last-child {
        margin: 0 0 24px 0;
        @include adaptive-value-large-desktop(margin-bottom, 24);
      }
    }

    > div:last-child > div {
      margin: 0;

      &:first-child {
        margin-right: 24px;
        @include adaptive-value-large-desktop(margin-right, 24);
      }
    }

    .top-papers {
      height: fit-content;

      > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
      }

      .middle-group {
        > div {
          &:first-child {
            margin-bottom: 20px;
            @include adaptive-value-large-desktop(margin-bottom, 20);
          }

          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        > div:first-child {
          margin-bottom: 24px;
          @include adaptive-value-large-desktop(margin-bottom, 24);
        }
      }

      .history-window {
        &::-webkit-scrollbar {
          width: 5px;
          @include adaptive-value-large-desktop(width, 5);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 3px;
          @include adaptive-value-large-desktop(border-radius, 3);
        }
      }

      .history-window {
        height: 203px;
        @include adaptive-value-large-desktop(height, 203);

        > div > p:last-child {
          font-size: 14px;
          @include adaptive-value-large-desktop(font-size, 14);
        }
      }
    }

    .bottom-papers {
      height: 350px;
      @include adaptive-value-large-desktop(height, 350);

      > div:first-child {
        display: flex;
        flex-direction: column;
      }
    }
  }
}