@import "src/styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  @media (min-height: 665px) {
    padding-top: 55px;
    @include adaptive-value-small-desktop(padding-top, 55);
    justify-content: flex-start;
  }

  > div > div {
    margin: 10px;
    @include adaptive-value-small-desktop(margin-top, 10);

    @include adaptive-value-small-desktop(margin-left, 10);

    @include adaptive-value-small-desktop(margin-right, 10);

    @include adaptive-value-small-desktop(margin-bottom, 10);
  }

  .top-papers {
    display: flex;

    > div:first-child, > div:last-child {
      flex-grow: 2;
    }

    .middle-group {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      > div:first-child {
        margin-bottom: 20px;
        @include adaptive-value-small-desktop(margin-bottom, 20);
      }

      > div {
        flex-grow: 1;
      }
    }

    .history-window {
      height: 160px;
      @include adaptive-value-small-desktop(height, 160);
      overflow-y: scroll;

      > div > p:last-child {
        margin-left: -5px;
        @include adaptive-value-small-desktop(margin-left, -5);
        margin-right: 5px;
        @include adaptive-value-small-desktop(margin-right, 5);
      }

      &::-webkit-scrollbar {
        width: 5px;
        @include adaptive-value-small-desktop(width, 5);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        @include adaptive-value-small-desktop(border-radius, 3);
        background: #8E8E93;
      }
    }
  }

  .bottom-papers {
    display: flex;

    > div {
      width: 50%;
    }
  }
}

@media (min-width: 1920px) {
  .wrapper {
    padding-top: 55px;
    > div > div {
      margin: 12px;
    }

    .top-papers {
      height: 425px;

      > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
      }

      .middle-group {
        > div {
          &:first-child {
            margin-bottom: 20px;
          }

          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .history-window {
        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 3px;
        }
      }

      .history-window {
        height: 203px;
      }
    }

    .bottom-papers {
      height: 350px;

      > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}