.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  @media (min-height: 665px) {
    padding-top: 55px;
    justify-content: flex-start;
  }

  > div > div {
    margin: 10px;
  }

  .top-papers {
    display: flex;

    > div:first-child, > div:last-child {
      flex-grow: 2;
    }

    .middle-group {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      > div:first-child {
        margin-bottom: 20px;
      }

      > div {
        flex-grow: 1;
      }
    }

    .history-window {
      height: 160px;
      overflow-y: scroll;

      > div > p:last-child {
        margin-left: -5px;
        margin-right: 5px;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #8E8E93;
      }
    }
  }

  .bottom-papers {
    display: flex;

    > div {
      width: 50%;
    }
  }
}

@media (min-width: 1920px) {
  .wrapper {
    > div > div {
      margin: 12px 24px 12px 0;
    }

    .top-papers {
      height: 425px;

      > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .middle-group {
        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .history-window {
        height: 203px;
      }
    }

    .bottom-papers {
      height: 350px;

      > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}