@import "src/styles/mixins";

.primary-title,
.secondary-title,
.secondary-title-small {
  color: #1D1D1D;
}

.primary-title {
  font-size: 17px;
  @include adaptive-value-small-desktop(font-size, 17);
  @include adaptive-value-large-desktop(font-size, 17);
  font-weight: 700;
  line-height: 20px;
  @include adaptive-value-small-desktop(line-height, 20);
  @include adaptive-value-large-desktop(line-height, 20);
  letter-spacing: -0.41px;
  @include adaptive-value-small-desktop(letter-spacing, -0.41);
  @include adaptive-value-large-desktop(letter-spacing, -0.41);
  margin-bottom: 20px;
  @include adaptive-value-small-desktop(margin-bottom, 20);
  @include adaptive-value-large-desktop(margin-bottom, 20);
}

.secondary-title {
  font-size: 17px;
  @include adaptive-value-small-desktop(font-size, 17);
  @include adaptive-value-large-desktop(font-size, 17);
  line-height: 20px;
  @include adaptive-value-small-desktop(line-height, 20);
  @include adaptive-value-large-desktop(line-height, 20);
  letter-spacing: -0.41px;
  @include adaptive-value-small-desktop(letter-spacing, -0.41);
  @include adaptive-value-large-desktop(letter-spacing, -0.41);
  margin-bottom: 7px;
  @include adaptive-value-small-desktop(margin-bottom, 7);
  @include adaptive-value-large-desktop(margin-bottom, 7);
}

.secondary-title-small {
  font-size: 15px;
  @include adaptive-value-small-desktop(font-size, 15);
  @include adaptive-value-large-desktop(font-size, 15);
  line-height: 18px;
  @include adaptive-value-small-desktop(line-height, 18);
  @include adaptive-value-large-desktop(line-height, 18);
  letter-spacing: -0.361765px;
  @include adaptive-value-small-desktop(letter-spacing, -0.361765);
  @include adaptive-value-large-desktop(letter-spacing, -0.361765);
  margin-bottom: 7px;
  @include adaptive-value-small-desktop(margin-bottom, 7);
  @include adaptive-value-large-desktop(margin-bottom, 7);
}

.description {
  font-size: 14px;
  @include adaptive-value-small-desktop(font-size, 14);
  line-height: 16px;
  @include adaptive-value-small-desktop(line-height, 16);
  letter-spacing: -0.337647px;
  @include adaptive-value-small-desktop(letter-spacing, -0.337647);
  color: #8E8E93;
  margin-bottom: 7px;
  @include adaptive-value-small-desktop(margin-bottom, 7);
}

@media (min-width: 1024px) {
  .primary-title {
    font-size: 21px;
    @include adaptive-value-small-desktop(font-size, 21);
  }
}

@media (min-width: 1440px) {
  .primary-title {
    font-size: 32px;
    @include adaptive-value-large-desktop(font-size, 32);
  }
  .secondary-title-small {
    font-size: 15px;
    @include adaptive-value-large-desktop(font-size, 15);
    line-height: 18px;
    @include adaptive-value-large-desktop(line-height, 18);
    letter-spacing: -0.361765px;
    @include adaptive-value-large-desktop(letter-spacing, -0.361765);
    margin-bottom: 7px;
    @include adaptive-value-large-desktop(margin-bottom, 7);
  }
  .description {
    font-size: 14px;
    @include adaptive-value-large-desktop(font-size, 14);
    line-height: 16px;
    @include adaptive-value-large-desktop(line-height, 16);
    letter-spacing: -0.337647px;
    @include adaptive-value-large-desktop(letter-spacing, -0.337647);
    color: #8E8E93;
    margin-bottom: 7px;
    @include adaptive-value-large-desktop(margin-bottom, 7);
  }
  .secondary-title-small {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.361765px;
    margin-bottom: 7px;
  }
  .description {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.337647px;
    color: #8E8E93;
    margin-bottom: 7px;
  }
}