.primary-title,
.secondary-title,
.secondary-title-small {
  color: #1D1D1D;
}

.primary-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.41px;
  margin-bottom: 20px;
}

.secondary-title {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.41px;
  margin-bottom: 7px;
}

.secondary-title-small {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.361765px;
  margin-bottom: 7px;
}

.description {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.337647px;
  color: #8E8E93;
  margin-bottom: 7px;
}

@media (min-width: 1024px) {
  .primary-title {
    font-size: 21px;
  }
}