@import "src/styles/mixins";

.popup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;


  & > .popup-input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .popup-wrapper {
    .popup-input {
      input {
        padding: 9px 15px;
        font-size: 12px;
        line-height: 10px;
        letter-spacing: -0.361765px;
      }
    }

    > button {
      padding: 10px 15px;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: -0.361765px;
    }
  }
}

@media (min-width: 1440px) {
  .popup-wrapper {
    .popup-input {
      margin-bottom: 15px;
      @include adaptive-value-large-desktop(margin-bottom, 15);

      input {
        padding: 12px 20px;
        @include adaptive-value-large-desktop(padding-top, 12);
        @include adaptive-value-large-desktop(padding-bottom, 12);
        @include adaptive-value-large-desktop(padding-left, 20);
        @include adaptive-value-large-desktop(padding-right, 20);
        font-size: 15px;
        @include adaptive-value-large-desktop(font-size, 15);
        line-height: 18px;
        @include adaptive-value-large-desktop(line-height, 18);
        letter-spacing: -0.361765px;
        @include adaptive-value-large-desktop(letter-spacing, -0.361765);
      }
    }

    > button {
      border-radius: 21px;
      @include adaptive-value-large-desktop(border-radius, 21);
      font-size: 15px;
      @include adaptive-value-large-desktop(font-size, 15);
      line-height: 18px;
      @include adaptive-value-large-desktop(line-height, 18);
      letter-spacing: -0.361765px;
      @include adaptive-value-large-desktop(letter-spacing, -0.361765);
      padding: 12px 40px;
      @include adaptive-value-large-desktop(padding-top, 12);
      @include adaptive-value-large-desktop(padding-bottom, 12);
      @include adaptive-value-large-desktop(padding-left, 40);
      @include adaptive-value-large-desktop(padding-right, 40);
    }
  }
}