@import "src/styles/mixins";
.task-list {
  padding-left: 15px;
 	@include adaptive-value-small-desktop(padding-left, 15); 
 	@include adaptive-value-tablet(padding-left, 15); 

  > li {
    list-style: decimal;
    font-size: 15px;
 	@include adaptive-value-small-desktop(font-size, 15); 
 	@include adaptive-value-tablet(font-size, 15); 
    line-height: 22px;
 	@include adaptive-value-small-desktop(line-height, 22); 
 	@include adaptive-value-tablet(line-height, 22); 
    color: #252525;
  }
}

@media (min-width: 1440px) {
  .task-list {

    > li {
      font-size: 17px;
 	    @include adaptive-value-large-desktop(font-size, 17);
      line-height: 26px;
 	    @include adaptive-value-large-desktop(line-height, 26);
      color: #252525;
    }
  }
}
