.task-list {
  padding-left: 15px;

  > li {
    list-style: decimal;
    font-size: 15px;
    line-height: 22px;
    color: #252525;
  }
}

@media (min-width: 1440px) {
  .task-list {

    > li {
      font-size: 17px;
      line-height: 26px;
      color: #252525;
    }
  }
}
