.wrapper {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container {
  margin: 12px 0;
  > * {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:last-child {
    display: flex;
    justify-content: center;
  }
}