.account-card {
  .user-main-info {
    margin-bottom: 20px;
  }

  & .user-secondary-info {
    padding-top: 15px;

    & .text-block {
      padding: 0 5px;
      margin-bottom: 18px;
    }

    & .info-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 10px;
      margin-bottom: 20px;

      & > div:first-child {
        grid-area: 1 / 1 / auto / 3;
      }
    }
  }

  & .exit-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px 5px 5px;

    > h5 {
      margin: 0;
    }

    & .exit-button {
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      letter-spacing: -0.385882px;
      color: #FF3B30;
    }
  }
}

@media (min-width: 1920px) {
  .account-card {

    h3 {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.627059px;
      color: #1D1D1D;
      margin-bottom: 35px;
    }

    .user-main-info {
      > div {
        > div:first-child {
          > div:first-child {
            width: 52px !important;
            height: 52px !important;
          }

          > div:last-child {
            > div:first-child {
              span {
                font-size: 23px !important;
                letter-spacing: -0.554706px;
                margin-bottom: 4px;
              }
            }

            > div:last-child {
              font-size: 13px;
              letter-spacing: -0.313529px;
              color: #8E8E93;
            }
          }
        }
      }
    }
  }
}