@import "src/styles/mixins";

.link, .link:visited {
  color: #2B44F2;
  font-family: SF Pro Display, sans-serif;
  font-size: 17px;
  @include adaptive-value-tablet(font-size, 17);
  @include adaptive-value-large-desktop(font-size, 17);
  line-height: 20px;
  @include adaptive-value-tablet(line-height, 20);
  @include adaptive-value-large-desktop(line-height, 20);
  letter-spacing: -0.41px;
  @include adaptive-value-tablet(letter-spacing, -0.41);
  @include adaptive-value-large-desktop(letter-spacing, -0.41);
}